
body{
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-attachment: fixed;
    background-size: cover;
}
#main{
    color: white;
    font-size: 10vw;
    /*background-color: black;*/
    
    margin-top: 0%;
    text-align: center;
}
.indexpage h2{
    color: white;
    font-size:7vw;
    opacity: .7;
    padding-left: 10%;
    
}
.indexpage ul{
    text-decoration: none;
    list-style-type: square;
    
}
.indexpage li{
    margin-left: 20%;
    color : white;
}
.indexpage a{
    margin:5%;
    
    color:cornsilk;
    opacity: .5;;
    text-decoration: none;
    font-size: 3vw;
}
.intro{
    color: white;
}
.intro h1{
    float: left;
    font-size: 6vw;
    text-align: center;
}
.intro p{
    margin-top: 0%;
    font-size: 4vw;
    float: left;
    width: 50%;
}
.intro img{
    float: left;
    height: 45%;
    width: 50%;
}
.selector{
    width: 100%;

    color:white;
}
.selector h1{
    float: left;
    font-size: 6vw;
    text-align: center;
    width:100%
}
.selector dl{
    font-size: 4vw;
    float: left;
    width: 100%;
}
.selector img{
    float: right;
    height: 45%;
    width: 50%;
}
.selector dt{
    font-size: 3vw;
    float: left;
}
.selector dd{
    font-size: 3vw;
    margin-left: 10%;
}


